:root {
  --pink: #FEFAFA;
  --blue: #2236EA;
  --greygreen: #76BED0;
  --bluetext: #025AA6;
}

body {
  font-family: 'Overpass', sans-serif;
  font-size: 18px;
  line-height: 140%;
  background-color: var(--pink);
}

header {
	width: 100%;
	height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

h1,h2,h3, h4, h5, h6 {
  font-family: 'Chivo', sans-serif;
  font-weight: bold;
  line-height: 120%;
  color: var(--bluetext);
}

h1 {
	font-size: 5vw;
}

h2 {
  font-size: 3rem;
  padding: 32px 0;
  margin: 0;
  border-bottom: 2px solid var(--bluetext);
}

h6 {
  font-size: 1rem;
  color: black;
  display: inline;
}

section.heading {
  padding: 40px 0;
}

.main-body {
  margin: 0 8%;
}

.main-body p {
  padding-bottom: 1.5rem
}

.info-box {
  background-color: var(--greygreen);
  display: flex;
  align-items: center;
  flex-direction: column;
}


.grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-gap: 80px;
}

.item1 {
  grid-column-start: 1;
  grid-column-end: 9;
}

.item1 .info-box {
  max-width: 40%;
  align-items: start;
  padding: 24px 48px;
}

.item1 .info-box ol {
  list-style: inital;
}

.item2 {
  grid-column-start: 9;
  grid-column-end: 13;
}

.item2 .info-box img {
  max-width: 60%;
}

/* .item2 section.overview {
  display: flex;
  flex-direction: column;
}

.item2 section.overview div {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.item2 section.overview span {
  padding-bottom: 40px;
} */

.item2 section.overview {
  display: grid;
  grid-template-columns: 1fr 1fr ;
  grid-gap: 18px;
  font-size: 16px;
  padding: 1.5em;
}
