:root {
  --pink: #FDE3FF;
  --blue: #2236EA;
  --greygreen: #92c9e985;
  --bluetext: #025AA6;
}

body {
  font-family: 'Overpass', sans-serif;
  font-size: 18px;
  line-height: 140%;
  background-color: var(--pink);
}

header {
	width: 100%;
	height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

canvas {
  border: 2px red;

  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100vmax;
  height: 100vmax;
  z-index: -1;

}

h1,h2,h3, h4, h5, h6 {
  font-family: 'Chivo', sans-serif;
  font-weight: bold;
  line-height: 120%;
  color: var(--blue);
}

h1 {
	font-size: 5vw;
  color: black;
}

h2 {
  font-size: 3rem;
  padding: 32px 0 32px 0;
  margin: 0;
  border-bottom: 2px solid var(--blue);
}

h6 {
  font-size: 1rem;
  color: black;
  display: inline;
}

em {
  font-weight: bold;
  font-size: 1.1rem;
  font-family: 'Chivo', sans-serif;
}

.small-text {
  font-size: 15px;
}

a {
  color: var(--blue);
  text-decoration: none;
}

a.black {
  color: black;
}

.link {
  color: var(--blue);
}

.display-none{
  display: none;
}

figcaption {
  font-size: 15px;
  padding: 8px 0 16px;
  line-height: 110%;
}

section.heading {
  padding: 40px 0;
}

.main-body {
  padding: 0 8%;
  background: rgb(255,255,255);
  background: linear-gradient(360deg, rgba(255,255,255,0.85) 0%, rgba(249,249,254,0.9) 99%, rgba(255,255,255,0) 100%);
}

.main-body p {
  padding-bottom: 1.5rem
}

.info-box, .img-box {
  background-color: var(--greygreen);
  display: flex;
  align-items: center;
  flex-direction: column;
}

.info-box img {
  max-width: 60%;
}

.img-box {
  padding: 24px 16px 16px;
  border-radius: 2px;
}

.img-box img {
  max-width: 100%;
}

.img-box figcaption {
  text-align: center;
}

.grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  column-gap: 2%;
  row-gap: 0;
}

.item1 {
  grid-column-start: 1;
  grid-column-end: 9;
}

.item1 .info-box {
  max-width: 40%;
  align-items: start;
  padding: 24px;
}

.item1 .info-box .index-heading {
  padding: 0 0 1rem 0;
}

.item1 .info-box ol {
  list-style: inital;
}

.item1 .info-box ol li {
  padding-left: 8px;
  margin-left: 18px;
}

.item1 p:last-child {
  padding-bottom: 0;
}

.item2 {
  grid-column-start: 9;
  grid-column-end: 13;
}

.item2 .info-box h3 {
  padding: 40px 0 16px 0;
  font-size: 24px;
}

.item2 .info-box img {
  max-width: 60%;
}

.item2 .info-box figcaption {
  font-size: 15px;
  padding-top: 8px;
}

.item2 section.overview {
  display: grid;
  grid-template-columns: 1fr 1fr ;
  grid-gap: 18px;
  font-size: 16px;
  padding: 1.5em;
  padding-top: 40px;
  font-size: 15px;
}

.item3 {
  grid-column-start: 1;
  grid-column-end: 13;
}

.item3 section.heading {
  /* padding-top: 18px; */
}

.item4 {
  grid-column-start: 1;
  grid-column-end: 4;
}

.item4 .info-box {
  padding: 24px 0;
}

.item4 .info-box img {
  max-width: 80%;
}

.item5 {
  grid-column-start: 4;
  grid-column-end: 13;
}

.item6 {
  grid-column-start: 1;
  grid-column-end: 9;
}

.item7 {
  grid-column-start: 9;
  grid-column-end: 13;
}

.item8, .item9, .item12, .item15, .item16 {
  grid-column-start: 1;
  grid-column-end: 13;
}

.item10 {
  grid-column-start: 1;
  grid-column-end: 10;
}

.item11 {
  grid-column-start: 10;
  grid-column-end: 13;
}

.item13 {
  grid-column-start: 1;
  grid-column-end: 4;
}

.item14 {
  grid-column-start: 4;
  grid-column-end: 13;
}

/* Media queries */
@media only screen and (max-width: 1250px) {
  .item2 .info-box span {
    font-size: 14px;
  }  
  .item2 .info-box em {
    font-size: 15px;
  }
}

@media only screen and (max-width: 1050px) {
  .item1 {
    grid-column-start: 1;
    grid-column-end: 8;
  }
  .item2 {
    grid-column-start: 8;
    grid-column-end: 13;
  }

  body, em {
    font-size: 16px;
  }
}

/* Mobile view */
@media only screen and (max-width: 900px) {
  .item1 .info-box {
    display: none;  
  }

  .item2 {
    grid-column-start: 1;
    grid-column-end: 13;
  }
 
  h1 {
    font-size: 10vw;
  }
  
  h2 {
    font-size: 2rem;
    padding: 20px 0;
  }

  section.heading {
    padding: 20px 0;
  }
  
  #name h2 {
    padding: 80px 0 20px 0;
  }
  
  .img-box {
    margin: 24px 0;
  }

  .item1, .item4, .item5, .item6, .item7, .item10, .item11, .item13, .item14 {
    grid-column-start: 1;
    grid-column-end: 13;
  }

}